body {
  height: 100vh;
  color: white;
  display: flex;
  font-family: sans-serif;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(#615dad, #ffc8da) no-repeat;
  background-color: #ffc8da;
}

h1 {
  font-family: 'Lobster', sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  cursor: pointer
}

button {
  color: white;
}

.piskvorky {
  max-width: 364px;
  text-align: center;
  background-color: #283e50;
  display: flex;
  flex-direction: column;
}

.piskvorky__obrazek {
  width: 100%;
}

.piskvorky__odstavec {
  padding: 0px 15px 10px 15px;
  text-align: justify;
}

.piskvorky__tlacitka {
  /*padding: 10px;*/
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.piskvorky__tlacitka--pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.piskvorky__tlacitka--pravidla:hover,
.piskvorkyHra__tlacitka--domu:hover {
  background-color: #1cbb96;
}

.piskvorky__tlacitka--hrat {
  background-color: #0197f6;
}

.piskvorky__tlacitka--hrat:hover,
.piskvorkyHra__tlacitka--restart:hover {
  background-color: #0090e9;
}

.piskvorkyHra__ikona--hrac {
  padding-left: 7px;
}

.piskvorkyHra {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
  padding: 0px 15px;
}

.piskvorkyHra__menu {
  display: flex;
  justify-content: space-between;
  text-align: baseline;
}

.piskvorkyHra__menu--hrac {
  display: flex;
  text-align: baseline;
}

.piskvorkyHra__tlacitka--domu {
  background-color: #1fcca4;
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  height: 2.5rem;
  margin-right: 3px;
}

.piskvorkyHra__tlacitka--restart {
  background-color: #0197f6;
  border-radius: 5px 5px 5px 5px;
  border: 0px;
  height: 2.5rem;
}

.piskvorkyHra__policko {
  aspect-ratio: 1 / 1;
  width: 10%;
  border: 1px solid #283e50;
  text-decoration: none;
  margin: 0px;
  padding-block: 5px;
  background-color: rgba(250, 250, 250, 0.6);
}

.piskvorkyHra__policko:hover,
.piskvorkyHra__policko:active,
.piskvorkyHra__policko:focus {
  background-color: rgba(250, 250, 250, 0.8);
}

.piskvorkyHra__herniPlocha {
  margin: 0px;
  padding: 0px;
  border: 1px solid #283e50;
}

@media (min-width: 300px) {
  body {
    height: 100vh;
  }

  .piskvorky {
    max-width: 364px;
    text-align: center;
    background-color: #283e50;
    margin-top: 3%;
    border-radius: 15px 15px 0px 0px;
    flex-grow: 0;
  }

  .piskvorky__obrazek {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
}
